altair==4.1.0
altair-data-server==0.4.1
altair-saver==0.5.0
altair-viewer==0.3.0
appnope==0.1.0
argon2-cffi==20.1.0
asgiref==3.3.1
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
bleach==3.1.5
bokeh==2.2.1
botocore==1.20.1
Brotli==1.0.9
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
conda==4.9.0
conda-package-handling==1.7.0+0.g7c4a471.dirty
coverage==5.3
cryptography==2.9.2
cycler==0.10.0
dash==1.19.0
dash-bootstrap-components==0.11.3
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
decorator==4.4.2
defusedxml==0.6.0
Django==3.1.4
dnspython==2.0.0
docutils==0.15.2
entrypoints==0.3
Flask==1.1.2
Flask-Compress==1.9.0
future==0.18.2
graphviz==0.16
gunicorn==20.0.4
idna==2.9
image==1.5.33
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipython-sql==0.3.9
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.7
jupyterlab-pygments==0.1.1
jupyterlab-server==1.2.0
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.2
missingno==0.4.2
mistune==0.8.4
mysql-connector-python==8.0.20
mysqlclient==2.0.1
nbclient==0.5.0
nbconvert==6.0.1
nbformat==5.0.7
nest-asyncio==1.4.0
networkx==2.5
notebook==6.1.4
numpy==1.19.1
opencv-python==4.4.0.46
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.14.3
portpicker==1.3.1
prettytable==0.7.2
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.12.3
ptyprocess==0.6.0
pyasn1==0.4.8
pycosat==0.6.3
pycparser==2.20
pygal==2.4.0
Pygments==2.7.1
pyodbc==4.0.30
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pysqlite3==0.4.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.23.0
retrying==1.3.3
rsa==4.5
ruamel-yaml==0.15.87
s3transfer==0.3.4
scipy==1.5.4
seaborn==0.11.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.1
SQLAlchemy==1.3.20
sqlparse==0.4.1
terminado==0.8.3
testpath==0.4.4
toolz==0.11.1
tornado==6.0.4
tqdm==4.46.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.25.8
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
xlrd==1.2.0
